
.img {
    max-height: 400px;
    max-width: 400px;
}

.ion-header{
    position: relative;
}

.ion-title{
    position: absolute;
}

.ion-icon{
    position: absolute;
}

.toc{
    right: 0;
    position: absolute;
}

.p #page{
    text-align: center;
}