<ion-header>
  <ion-toolbar>
    <ion-title>Table of Contents</ion-title>
    <ion-icon class="home" size="large" color="medium" name="home" [routerDirection]="'root'" [routerLink]="['/home']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/pictures/CloseUp.JPG" alt="" />
  <ion-list  *ngFor="let chapter of chapters">
    <ion-item [routerDirection]="'root'" [routerLink]="[chapter.url]">
      {{chapter.title}} -- Page {{chapter.pageNumber}}
    </ion-item>
    
  </ion-list>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button color="light" [routerDirection]="'root'" [routerLink]="['/chapter1']">
      <ion-icon size="large" name="chevron-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <p id="page">i</p>

</ion-content>
